* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #829499;
    color: #192221;
    text-align: center;
    padding: 20px;
}

#title {
    font-family: 'Bangers', cursive;
    font-size: 62px;
}

body {
    background-color: #192221;
}

.scoreboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 5px;
    font-family: 'Playfair Display', serif;
}

.decision img {
    width: 160px;
    border: 3px solid #F3F4F5;
    border-radius: 15px;
}

.score {
    background-color: #8C8165;    ;
    border: 3px solid #F3F4F5;
    border-radius: 4px;
    text-align: center;
    width: 300px;
    height: 120px;
    font-size: 46px;
    color: #F3F4F5;
    padding: 28px;
    position: relative;
}

.badge {
    background: #847D7F;
    font-size: 20px;
    font-weight: 300;
    padding: 2px 10px;
    border: 2px solid #F3F4F5;
    border-radius: 4px;
}

#player-label {
    position: absolute;
    top: 32px;
    left: -50px;
    color: #002627;
}

#computer-label {
    position: absolute;
    top: 32px;
    right: -50px;
    color: #600000;
}

.result {
    background-color: #847D7F;
    border: 3px solid #F3F4F5;
    border-radius: 4px;
    text-align: center;
    margin: 50px;
    padding: 50px;
    text-align: center;
    color: #F3F4F5;
}

.result h1 {
    font-size: 56px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
    text-align: center;
    color: #F3F4F5;
    font-size: 30px;
}

.weapon img {
    width: 250px;
    border-radius: 25px;
    margin: 20px;
    transition: all 0.3s ease;
}

.green-glow img {
    border: 13px solid #4dcc7d;
    box-shadow: 0 0 18px #31b43a;
}

.red-glow img {
    border: 13px solid #fc121b;
    box-shadow: 0 0 18px #d01115;
}

.grey-glow img{
    border: 13px solid #8C8165;
    box-shadow: 0 0 18px #837450;
}

.weapon img:hover {
    cursor: pointer;
    border: 3px solid #F3F4F5;
}


